div{
    margin: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container{
    width: 650px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{
    width: 650px;
    height: 500px;
}